@import "_func";
@import "_reset";


body {
  // background-color: #DCDBD9
  color: #2c2c2c;
  font: normal 100% Cambria, Georgia, serif;
  line-height: 1.6rem; // testing
}

a {
  color: blue;
}

.grid {
  margin: 0 auto;
  height: 0px;
  // width: 1280px // based on 1280px
  max-width: $container-width + px;
  display: flex;
  // opacity: 0.1;

  div {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    background: red;
    height: 100vh;
    width: $column;
    margin: 0 gap(); // make function
  }
}

// // Styling
// .wrapper {
//    background: silver
//    margin: 0 auto;
//    max-width: 1280px
//    max-width: $container-width + px;
//    height: 100vh;
//    display: none;
// }

// Testing grid system
.row {
  display: flex;
  .col {
    min-width:auto;
  }
  .col-1\/4 {
    width: col(4);
  }
  .col-2\/4 {
    width: col(8);
  }
  .col-3\/4 {
    width: col(12);
  }
  .col-4\/4 {
    width: col(16);
  }
}
[class^='col']{
  margin: 0 gap();
  // margin: 0 !important;
  // padding:gap();
  // background:blue;
}

.text{
  padding: 10px;
}

.container {
  // padding: 0 gap();
  margin: 0 auto;
  max-width: $container-width + px;
}

.header, .content, .footer {
  // margin: gap() 0;
  [class^="col"] {
    // min-height: 100px;
    background: green;
  }
}

.content {
  margin: $space 0;
  // background: green;
}

.footer {
}

img,
embed,
object,
video {
  // width: 100%
  max-width: 100%;
  // display: block
  // max-width: percentage(64/1200)
}
